.arrows {
  display: none;
  position: relative;

  span {
    margin: 6px;
    color: $pallet-6;
  }

  img {
    width: 30px;
  }

  .before-page {
    opacity: .3;
  }

  .before-page-block, .next-page-block {
    width: 100px;
    height: 70px;
    position: absolute;
    z-index: 2;
    display: none;
  }

  .before-page-block {
    left: 0;
    display: block;
  }

  .next-page-block {
    right: 0;
  }
}
